/*Boxes*/
.boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
}

    .boxes section {
        background-color: #e5e5e5;
        width: 20vw;
        padding: 10px;
        margin-top: 16px;
        border-radius: 10px;
    }

        .boxes section h1 {
            color: rgb(157, 136, 110);
            font-size: 1.5rem;
        }

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    margin-top: 16px;
    border-bottom: 1px solid rgb(26, 135, 113);
    color: rgb(50, 38, 38);
}

/**
    charts
*/
.charts {
    display: grid;
    grid-template-areas:
        "a b c"
        "d d c";
}


/*
selects
*/
.selects {
    display: flex;
    align-items: center;
}

    .selects div {
        margin-left: 20px;
    }
