.delete {
    color: white;
}

.create-box-occurrence {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

    .create-box-occurrence div div {
        width: 40vw;
    }

.cntr-occurrence {
    color: white;
    height: 85vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
