.delete {
}

.col-md-4 form div {
    padding-top: 6px;
}

.col-md-4 form {
    display: flex;
    justify-content: space-between;
}

.buttons-header {
    display: flex;
    justify-content: space-between;
    width: 23%;
}

.create-box-occurrence {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

    .create-box-occurrence div div {
        width: 40vw;
    }

.cntr-occurrence {
    /*height: 85vh;*/
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.cntr-navegation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .cntr-navegation div {
        display: flex;
        align-items: center;
    }

#filterOccurrence {
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
}


/*Filtro*/

.form-pesquisa {
    width: inherit;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.627);
}


.form-itens {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid rgba(35, 33, 33, 0.393);
    padding: 16px;
    border-radius: 20px;
    background-color: #fff;
}

.size-box {
    width: 100%;
}

.button-search {
    display: flex;
    justify-content: end;
}

.display-onOff {
    display: flex;
}

.cntr-datas {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.422);
    border-radius: 10px;
    height: 100%;
    transform: translate(0px,-50px);
}

.datas {
    display: flex;
    flex-direction: column;
    align-items: end;
}

    .datas i {
        font-size: 2rem;
        color: red;
        cursor: pointer;
        height: fit-content;
        transform: translate(51px, -44px);
        background-color: white;
        padding: 10px;
        border-radius: 50%;
    }

.tableCell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-right: 1px solid;
    border-right-color: rgb(247, 239, 251, .4);
    max-width: 7vw;
}

.toolTipSpan {
    position: fixed;
    background-color: blue;
    color: white;
    z-index: 3;
    padding: 5px;
    border-radius: 7px;
    width: 200px;
}

.scrollbar-occurrence {
    float: left;
    height: 80vh;
    overflow-y: scroll;
    width: 95vw;
}
/**
    reduzir e expandir colunas
*/

.arrow {
    margin: 0 5px 0 5px;
    cursor: pointer
}

.coluna-oculta {
    margin: 5px;
}

    .coluna-oculta i {
        color: white;
        background-color: red;
        border-radius: 50%;
        margin-right: 7px;
        font-size: 1.5rem;
    }