html,body {
    width:100%;
    height:100%;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

.text-align {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    border-left: 1px solid black;
    padding: 5px;
}

.form-login-register {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px;
    border-radius: 1px;
}

    .form-login-register div {
        border-radius: 5px;
    }

        .form-login-register div form {  
            width: 100%;
            display: flex;
            margin-right: 25px;
            border-radius: 10px
        }

.form-login {
    display: flex;
    flex-direction: column;
    width: 23rem;
    padding: 16px;
    background-color: black;
    border-radius: 5px;
    opacity: 0.9;
    margin-left: auto;
    margin-top: inherit;
    margin-right: 16px;
}

.box-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
}

.cntr {
    padding: 0 30px;
    position: relative;
    top: 60px;    
}

.table {
    --bs-table-hover-color: #4a8787;
}

.scrollbar {
    float: left;
    height: 80vh;
    overflow-y: scroll;
    width: 91vw;
}
#style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: rgb(22 33 33 / 0%);
}

#style-2::-webkit-scrollbar {
    width: 12px;
    background-color: rgb(22 33 33 / 0%);
}

#style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #343a40;
}

.form-group{
    margin-bottom: 16px;
}

.sticky-top{
    z-index:0;
}

.button-submit-register {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.button-submit-register button{
    margin:5px;
}

.fomr-register {
    background-color: #21252947;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-light {
    background-color: #fc7341;
    border-color: #fc7341;
    color:white;
}