.sub-item {
    /*display: none;    */
}

.task {
    background-color: #a2b3b3;
    padding: 10px;
    width: 80vw
}

.task-title {
    display: grid;
    grid-template-areas:
        'A B C D E';
    align-items: center;
}

ul {
    list-style: none;
}

li {
    margin-top: 10px;
    border-radius: 0 20px 0 20px;
}

.task-arrow {
    grid-area: E;
    text-align: end;
    font-size: 1.5rem;
    font-weight: bold;
}

    .task-arrow i {
        cursor: pointer;
    }

.arrow-card {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-radius: 0 10px 0 10px;
    margin-left: 50px;
    padding: 0 0 0 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sub-item-show {
    display: block;
}

.sub-item li a {
    color: black;
}

.clock-red {
    color: red;
    font-size: 1.5rem
}

.clock-green {
    color: green;
    font-size: 1.5rem
}

.clock-orange {
    color: orange;
    font-size: 1.5rem
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.em-tempo {
    border-bottom: 2px solid black;
    padding: 10px;
    border-radius: 0;
}

.list-details {
    display: flex;
    flex-direction: column;
}

    .list-details a {
        border-bottom: .5px solid black;
        text-decoration: none;
        padding: 6px;
        margin: 10px;
    }

        .list-details a:hover {
            background-color: aqua;
            border-radius: 10px;
        }

.list div:first-child {
    display: flex;
}

    .list div:first-child h6 {
        margin-left: 30px;
    }


.arrow-down {
    cursor: pointer;
}




/*
    novo
*/

* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100%;
}

.header-filtro {
    background-color: red;
    height: 60px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    left: 0;
    right: 0;
    z-index: 3;
}

    .header-filtro i {
        font-size: 2.5rem;
        margin-right: 5vw;
        cursor: pointer;
    }

.panels {
    display: flex;
    background-color: rgb(167 157 157);
    height: 100%;
}

    .panels section {
        border-right: 5px solid rgba(33, 32, 32,0.6);
        max-width: 30vw;
        margin-top: 60px;
        padding-bottom: 16px;
    }

.panels-section {
    background-color: #ebeb83;
    border-radius: 5px;
    min-height: 20vh;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
}

    .panels-section p {
        padding: 5px;
    }

    .panels-section:hover {
        background-color: rgb(197, 219, 212);
    }

    .panels-section:nth-child(2) {
        margin-top: 10px;
    }

.descricao {
    line-height: 1.8rem;
    text-decoration: underline;
    text-align: justify;
}

.title {
    background-color: azure;
    padding: 0px 5px 0 5px;
}

.header-section {
    background-color: #6ba9a9;
    position: sticky;
    height: 35px;
    text-align: center;
    top: 60px;
}


.menuNav {
    position: fixed;
    background-color: #fff;
    top: 33px;
    right: 118px;
    border-radius: 10px;
    padding: 16px;    
}
.mascara {
    position: fixed;
    background-color: #00000091;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;    
}

.text-error {
    top: 81px;
    position: fixed;
    margin-left: 10px;
    color: #043e70;
}