/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100%;
}

.header-filtro {
    /*background-color: #8d5858;*/
    height: 60px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    left: 0;
    right: 0;
    z-index: 3;
}

    .header-filtro i {
        font-size: 2.5rem;
        margin-right: 5vw;
        cursor: pointer;
    }

.panels {
    display: flex;
    /*background-color: rgb(167 157 157);*/
    min-height: 100%;
}

    .panels section {
        height: 88vh;
        overflow: auto;
        border-right: 5px solid rgba(33, 32, 32,0.6);
        width: 30vw;
        margin-top: 60px;
        padding-bottom: 16px;
    }

.panels-section {
    background-color: #ebeb83;
    border-radius: 5px;
    min-height: 20vh;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
}

    .panels-section p {
        padding: 5px;
        font-family: 'Indie Flower', cursive;
    }

    .panels-section:hover {
        background-color: rgb(197, 219, 212);
    }

    .panels-section:nth-child(2) {
        margin-top: 10px;
    }

.descricao {
    line-height: 1.8rem;
    text-decoration: underline;
    text-align: justify;
}

.title {
    padding: 0px 5px 0 5px;
}

    .title h4 {
        font-family: 'Indie Flower', cursive;
    }

.header-section {
    background-color: #45d3cc;
    position: sticky;
    height: 35px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 0 10px;
}

    .header-section h3 {
        font-size: 1.5rem
    }

.menuNav {
    position: fixed;
    background-color: #fff;
    top: 33px;
    right: 118px;
    border-radius: 10px;
    padding: 16px;
}

.mascara {
    position: fixed;
    background-color: #00000091;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.text-error {
    top: 81px;
    position: fixed;
    margin-left: 10px;
    color: #043e70;
}

.headerTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

    .headerTask h1 {
        margin: 0;
    }

#titulo-header {
    font-size: 1.5rem;
}

section::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #2f4f4f;
}

section::-webkit-scrollbar {
    width: 12px;
    background-color: #2f4f4f;
}

section::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #343a40;
}