

<div class="form-pesquisa">
<form class="form-itens">
    <div style="width: 46%">
        <div class="mb-3 size-box">
            <label for="formGroupExampleInput" class="form-label">Tipo</label>
            <input type="text"
                   class="form-control"
                   id="formGroupExampleInput"
                   placeholder="Tipo" />
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Descrição</label>
            <input type="text"
                   class="form-control"
                   id="formGroupExampleInput"
                   placeholder="Descrição" />
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Informação adicional</label>
            <input type="text"
                   class="form-control"
                   id="formGroupExampleInput"
                   placeholder="Informação adicional" />
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Prejudicado</label>
            <input type="text"
                   class="form-control"
                   id="formGroupExampleInput"
                   placeholder="Prejudicado" />
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Documento</label>
            <input type="text"
                   class="form-control"
                   id="formGroupExampleInput"
                   placeholder="Documento" />
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Custo</label>
            <input type="text"
                   class="form-control"
                   id="formGroupExampleInput"
                   placeholder="Custo" />
        </div>
    </div>

    <div style="width: 46%">
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Avaliador</label>
            <input type="text"
                   class="form-control"
                   id="formGroupExampleInput"
                   placeholder="Avaliador" />
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Origem</label>
            <input type="text"
                   class="form-control"
                   id="formGroupExampleInput"
                   placeholder="Origem" />
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Status das ações</label>
            <input type="text"
                   class="form-control"
                   id="formGroupExampleInput"
                   placeholder="Status das ações" />
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Status</label>
            <input type="text"
                   class="form-control"
                   id="formGroupExampleInput"
                   placeholder="Status" />
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Ação corretiva</label>
            <input type="text"
                   class="form-control"
                   id="formGroupExampleInput"
                   placeholder="Ação corretiva" />
        </div>
        <div class="button-search">
            <button type="submit" class="btn btn-primary">Procurar</button>
        </div>
    </div>
    <i id="closeForm" onClick=closeForm(this) style="font-size: 2rem;color: red;cursor:pointer;height: fit-content;" class='bx bxs-x-circle'></i>
</form>
</div>