@model Checked.Models.ViewModels.CreateOccurrenceModel;

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/Occurrence.css" />
<div class="cntr cntr-occurrence">
    <div style="display:flex;justify-content:space-between">
        <div>
            <h4>Ocorrência</h4>
        </div>
        <div>
            <div>
                <a class="btn btn-primary" asp-action="Index">Voltar para lista</a>
            </div>
        </div>
    </div>
    <div class="row" style="width:100%">
        <div class="col-md-4" style="width:100%">
            <hr />
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="CreatedById" />
                <div class="create-box-occurrence">
                    <div>
                        <div class="form-group">
                            <div style="display:flex;align-items: end;">
                                <div>
                                    <label asp-for="TypeOccurrence" class="control-label"></label>
                                    <select asp-for="TypeOccurrence" asp-items="@ViewBag.Types" class="form-control"></select>
                                    <span asp-validation-for="TypeOccurrence" class="text-danger"></span>
                                </div>
                                <a style="background-color:green; font-weight:bold" class="btn" asp-action="Create" asp-controller="TP_Ocorrencia">+</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Harmed" class="control-label"></label>
                            <input asp-for="Harmed" class="form-control" />
                            <span asp-validation-for="Harmed" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Document" class="control-label"></label>
                            <input asp-for="Document" class="form-control" />
                            <span asp-validation-for="Document" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Additional1" class="control-label"></label>
                            <input asp-for="Additional1" class="form-control" />
                            <span asp-validation-for="Additional1" class="text-danger"></span>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label asp-for="Additional2" class="control-label"></label>
                            <input asp-for="Additional2" class="form-control" />
                            <span asp-validation-for="Additional2" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Origin" class="control-label"></label>
                            <input asp-for="Origin" class="form-control" />
                            <span asp-validation-for="Origin" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Cost" class="control-label"></label>
                            <input asp-for="Cost" class="form-control" />
                            <span asp-validation-for="Cost" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div style="display:flex;align-items: end;">
                                <div>
                                    <label asp-for="Appraiser" class="control-label"></label>
                                    <select asp-for="Appraiser" class="form-control" asp-items="@ViewBag.AppraiserId"></select>
                                    <span asp-validation-for="Appraiser" class="text-danger"></span>
                                </div>
                                <a style="background-color:green; font-weight:bold" class="btn" asp-action="InviteUser" asp-controller="Account">+</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Salvar" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
