@model Checked.Models.ViewModels.EditOccurrenceViewModel;

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/css/Occurrence.css" />
<div class="cntr" style="color:white">
    <div class="row">
        <hr />
        <div class="col-md-4" style="width:80%">
            <form asp-action="Edit">
                <div style="width:40%">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="ApplicationUserId" />
                    <input type="hidden" asp-for="OrganizationId" />
                    <div style="display:flex;align-items: end;" class="form-group">
                        <div>
                            <label asp-for="TypeOccurrence" class="control-label"></label>
                            <select asp-for="TypeOccurrence" asp-items="@ViewBag.Types" class="form-control"></select>
                            <span asp-validation-for="TypeOccurrence" class="text-danger"></span>
                        </div>
                        <a style="background-color:green; font-weight:bold" class="btn" asp-action="Create" asp-controller="TP_Ocorrencia">+</a>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Harmed" class="control-label"></label>
                        <input asp-for="Harmed" class="form-control" />
                        <span asp-validation-for="Harmed" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Document" class="control-label"></label>
                        <input asp-for="Document" class="form-control" />
                        <span asp-validation-for="Document" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Additional1" class="control-label"></label>
                        <input asp-for="Additional1" class="form-control" />
                        <span asp-validation-for="Additional1" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Additional2" class="control-label"></label>
                        <input asp-for="Additional2" class="form-control" />
                        <span asp-validation-for="Additional2" class="text-danger"></span>
                    </div>
                </div>
                <div style="width:40%">
                    <div class="form-group">
                        <label asp-for="Cost" class="control-label"></label>
                        <input asp-for="Cost" class="form-control" />
                        <span asp-validation-for="Cost" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Origin" class="control-label"></label>
                        <input asp-for="Origin" class="form-control" />
                        <span asp-validation-for="Origin" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CorretiveActions" class="control-label"></label>
                        <input asp-for="CorretiveActions" class="form-control" />
                        <span asp-validation-for="CorretiveActions" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AppraiserId" class="control-label"></label>
                        <select asp-for="AppraiserId" asp-items="@ViewBag.AppraiserId" class="form-control"></select>
                        <span asp-validation-for="AppraiserId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status.Name" class="control-label"></label>
                        <select asp-for="Status.Id" asp-items="@ViewBag.Status" class="form-control"></select>
                        <span asp-validation-for="Status.Id" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Salvar alterações" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Voltar</a>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
