<link rel="stylesheet" href="~/css/tasks.css" />
<div class="cntr">
    <div>
        <ul>
            <li style="" class="task">
                <div class="task-title">
                    <h5 style="grid-area:A;">Ocorrências</h5>
                    <div class="arrow-card" style="grid-area:B">
                        <i class='bx bx-time-five clock-green'></i>
                        <span>1</span>
                        <span>Em tempo</span>
                        <i class='bx bxs-chevron-down arrow-down'></i>
                    </div>
                    <div class="arrow-card" style="grid-area:C">
                        <i class='bx bx-time-five clock-orange'></i>
                        <span>1</span>
                        <span>Próximo do vencimento</span>
                        <i class='bx bxs-chevron-down arrow-down'></i>
                    </div>
                    <div class="arrow-card" style="grid-area:D">
                        <i class='bx bx-time-five clock-red'></i>
                        <span>1</span>
                        <span>Atrasado</span>
                        <i class='bx bxs-chevron-down arrow-down'></i>
                    </div>
                </div>
                <ul class="sub-item">
                    <li class="list em-tempo">
                        <div>
                            <i class='bx bx-time-five clock-green'></i>
                            <h6>Em tempo</h6>
                        </div>
                        <div class="list-details">
                            <a href="#">Ocorrencia 1</a>
                            <a href="#">Ocorrencia 2</a>
                        </div>
                    </li>
                    <li class="list em-tempo">
                        <div>
                            <i class='bx bx-time-five clock-orange'></i>
                            <h6>Próximo do vencimento</h6>
                        </div>
                        <div class="list-details">
                            <a href="#">Ocorrencia 1</a>
                            <a href="#">Ocorrencia 2</a>
                        </div>
                    </li>
                    <li class="list em-tempo">
                        <div>
                            <i class='bx bx-time-five clock-red'></i>
                            <h6>Atrasado</h6>
                        </div>
                        <div class="list-details">
                            <a href="#">Ocorrencia 1</a>
                            <a href="#">Ocorrencia 2</a>
                        </div>
                    </li>
                </ul>
            </li>
            <li style="transform:translateX(5%)" class="task">
                <div class="task-title">
                    <h5 style="grid-area:A;">Planos</h5>
                    <div class="arrow-card" style="grid-area:B">
                        <i class='bx bx-time-five clock-green'></i>
                        <span>1</span>
                        <span>Em tempo</span>
                        <i class='bx bxs-chevron-down arrow-down'></i>
                    </div>
                    <div class="arrow-card" style="grid-area:C">
                        <i class='bx bx-time-five clock-orange'></i>
                        <span>1</span>
                        <span>Próximo do vencimento</span>
                        <i class='bx bxs-chevron-down arrow-down'></i>
                    </div>
                    <div class="arrow-card" style="grid-area:D">
                        <i class='bx bx-time-five clock-red'></i>
                        <span>1</span>
                        <span>Atrasado</span>
                        <i class='bx bxs-chevron-down arrow-down'></i>
                    </div>
                </div>
                <ul class="sub-item">
                    <li class="list em-tempo">
                        <div>
                            <i class='bx bx-time-five clock-green'></i>
                            <h6>Em tempo</h6>
                        </div>
                        <div class="list-details">
                            <a href="#">Plano 1</a>
                            <a href="#">Plano 2</a>
                        </div>
                    </li>
                    <li class="list em-tempo">
                        <div>
                            <i class='bx bx-time-five clock-orange'></i>
                            <h6>Próximo do vencimento</h6>
                        </div>
                        <div class="list-details">
                            <a href="#">Plano 1</a>
                            <a href="#">Plano 2</a>
                        </div>
                    </li>
                    <li class="list em-tempo">
                        <div>
                            <i class='bx bx-time-five clock-red'></i>
                            <h6>Atrasado</h6>
                        </div>
                        <div class="list-details">
                            <a href="#">Plano 1</a>
                            <a href="#">Plano 2</a>
                        </div>
                    </li>
                </ul>
            </li>
            <li style="transform:translateX(10%);" class="task">
                <div class="task-title">
                    <h5 style="grid-area:A;">Ações</h5>
                    <div class="arrow-card" style="grid-area:B">
                        <i class='bx bx-time-five clock-green'></i>
                        <span>1</span>
                        <span>Em tempo</span>
                        <i class='bx bxs-chevron-down arrow-down'></i>
                    </div>
                    <div class="arrow-card" style="grid-area:C">
                        <i class='bx bx-time-five clock-orange'></i>
                        <span>1</span>
                        <span>Próximo do vencimento</span>
                        <i class='bx bxs-chevron-down arrow-down'></i>
                    </div>
                    <div class="arrow-card" style="grid-area:D">
                        <i class='bx bx-time-five clock-red'></i>
                        <span>1</span>
                        <span>Atrasado</span>
                        <i class='bx bxs-chevron-down arrow-down'></i>
                    </div>
                </div>
                <ul class="sub-item">
                    <li class="list em-tempo">
                        <div>
                            <i class='bx bx-time-five clock-green'></i>
                            <h6>Em tempo</h6>
                        </div>
                        <div class="list-details">
                            <a href="#">Ação 1</a>
                            <a href="#">Ação 2</a>
                        </div>
                    </li>
                    <li class="list em-tempo">
                        <div>
                            <h6>Próximo do vencimento</h6>
                            <i class='bx bx-time-five clock-orange'></i>
                        </div>
                        <div class="list-details">
                            <a href="#">Ação 1</a>
                            <a href="#">Ação 2</a>
                        </div>
                    </li>
                    <li class="list em-tempo">
                        <div>
                            <i class='bx bx-time-five clock-red'></i>
                            <h6>Atrasado</h6>
                        </div>
                        <div class="list-details">
                            <a href="#">Ação 1</a>
                            <a href="#">Ação 2</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<script>
    let arrows = document.querySelectorAll(".arrow-down");
    for(let i =0; i<arrows.length;i++){
        arrows[i].addEventListener("click", e =>{
            let parent = e.target.parentElement.parentElement.parentElement.children;
            parent[1].classList.toggle("sub-item-show");
            console.log(e.target.parentElement)
        })
    }
</script>