<link rel="stylesheet" href="~/css/tasks.css" />
<div class="cntr">
    <div>
        <ul>
            <li style="" class="task">
                <div class="task-title">
                    <h5 style="grid-area:A;">Ocorrências</h5>
                    <div class="arrow-card" style="grid-area:B">
                        <i class='bx bx-time-five clock-green'></i>
                        <span>1</span>
                        <span>Procedente</span>
                        <i id="1" class='bx bxs-chevron-down arrow-down oc'></i>
                    </div>
                    <div class="arrow-card" style="grid-area:C">
                        <i class='bx bx-time-five clock-orange'></i>
                        <span>1</span>
                        <span>Não procedente</span>
                        <i id="2" class='bx bxs-chevron-down arrow-down oc'></i>
                    </div>
                    <div class="arrow-card" style="grid-area:D">
                        <i class='bx bx-time-five clock-red'></i>
                        <span>1</span>
                        <span>Não identificado</span>
                        <i id="3" class='bx bxs-chevron-down arrow-down oc'></i>
                    </div>
                    <div class="arrow-card" style="grid-area:E">
                        <i class='bx bx-time-five clock-red'></i>
                        <span>1</span>
                        <span>Em análise</span>
                        <i id="4" class='bx bxs-chevron-down arrow-down oc'></i>
                    </div>
                </div>
                <ul id="subItensOc" class="sub-item"></ul>
            </li>
            <li style="transform:translateX(5%)" class="task">
                <div class="task-title">
                    <h5 style="grid-area:A;">Planos</h5>
                    <div class="arrow-card" style="grid-area:B">
                        <i class='bx bx-time-five clock-green'></i>
                        <span>1</span>
                        <span>Em tempo</span>
                        <i data-value-init="0" data-value-final="0.5" class='bx bxs-chevron-down arrow-down pl'></i>
                    </div>
                    <div class="arrow-card" style="grid-area:C">
                        <i class='bx bx-time-five clock-orange'></i>
                        <span>1</span>
                        <span>Próximo do vencimento</span>
                        <i data-value-init="0.5" data-value-final="1" class='bx bxs-chevron-down arrow-down pl'></i>
                    </div>
                    <div class="arrow-card" style="grid-area:D">
                        <i class='bx bx-time-five clock-red'></i>
                        <span>1</span>
                        <span>Atrasado</span>
                        <i data-value-status="atrasado" class='bx bxs-chevron-down arrow-down pl'></i>
                    </div>
                    <div class="arrow-card" style="grid-area:E">
                        <i style="font-size:1.5rem; color:green" class="bx bx-check-double"></i>
                        <span>1</span>
                        <span>Finalizado</span>
                        <i data-value-status="finalizado" class='bx bxs-chevron-down arrow-down pl'></i>
                    </div>
                </div>
                <ul id="subItensPlan" class="sub-item"></ul>
            </li>
            <li style="transform:translateX(10%);" class="task">
                <div class="task-title">
                    <h5 style="grid-area:A;">Ações</h5>
                    <div class="arrow-card" style="grid-area:B">
                        <i class='bx bx-time-five clock-green'></i>
                        <span>1</span>
                        <span>Em tempo</span>
                        <i data-value-init="0" data-value-final="0.5" class='bx bxs-chevron-down arrow-down ac'></i>
                    </div>
                    <div class="arrow-card" style="grid-area:C">
                        <i class='bx bx-time-five clock-orange'></i>
                        <span>1</span>
                        <span>Próximo do vencimento</span>
                        <i data-value-init="0.5" data-value-final="1" class='bx bxs-chevron-down arrow-down ac'></i>
                    </div>
                    <div class="arrow-card" style="grid-area:D">
                        <i class='bx bx-time-five clock-red'></i>
                        <span>1</span>
                        <span>Atrasado</span>
                        <i data-value-status="atrasado" class='bx bxs-chevron-down arrow-down ac'></i>
                    </div>
                    <div class="arrow-card" style="grid-area:E">
                        <i style="font-size:1.5rem; color:green" class="bx bx-check-double"></i>
                        <span>1</span>
                        <span>Finalizado</span>
                        <i data-value-status="finalizado" class='bx bxs-chevron-down arrow-down ac'></i>
                    </div>
                </div>
                <ul id="subItensAc" class="sub-item"></ul>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="~/js/Tasks.js" />