
<head>
    <link rel="stylesheet" href="/css/terms.css" />
</head>

<body>
    <div class="container-fluid container-flex">
        <section>
            <img src="/css/Images/construcao.png" alt="construção" />
        </section>
        <section>
            <h1>Página em construção</h1>
        </section>
    </div>
</body>