@model Checked.Models.Models.HelpDesk

@{
    ViewData["Title"] = "Edit";
}
<div class="cntr" style="color:white;padding:16px">
    <h4>HelpDesk</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="UrlAccess" class="control-label"></label>
                    <input asp-for="UrlAccess" class="form-control" />
                    <span asp-validation-for="UrlAccess" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ErrorMessage" class="control-label"></label>
                    <input asp-for="ErrorMessage" class="form-control" />
                    <span asp-validation-for="ErrorMessage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Message" class="control-label"></label>
                    <input asp-for="Message" class="form-control" />
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Voltar</a>
    </div>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
