@model Checked.Models.ViewModels.ChangePass
<head>
    <link rel="stylesheet" href="~/css/ForgotPass.css"/>
</head>
<div class="cntr">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <h1>Change pass</h1>
        </div>
        <div class="submit">
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <input class="btn-primary" type="submit" />
        </div>
    </form>
</div>