@model Checked.Models.ViewModels.ForgotModel;

<head>
    <link rel="stylesheet" href="~/css/ForgotPass.css" asp-append-version="true" />
</head>

    @if (string.IsNullOrEmpty(@ViewBag.Message))
{
    <div class="cntr">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <h1>Forgot Password</h1>
                <span>Enter your email address</span>
            </div>
            <div class="submit">
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <input class="btn-primary" type="submit" />
            </div>
        </form>
    </div>
}
else
{
    <div class="container">
        <h1 class="text-info">@ViewBag.Message</h1>
    </div>
}
