@model Checked.Models.ViewModels.RegisterViewModel;

<div class="fomr-register">
    <div class="home">
        <div class="form-login-register">
            <div>
                <form method="post" id="register" asp-action="Register">
                    <div style="margin: 25px 25px 0 25px;">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CountryId"></label>
                            <select asp-for="CountryId" class="form-control">
                                <option>Selecione um País</option>
                                <option value="35">Brasil</option>
                            </select>
                            <span asp-validation-for="CountryId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="StateId"></label>
                            <select asp-for="StateId" class="form-control">
                                <option value="@Model.StateId">@Model.StateName</option>
                            </select>
                            <span asp-validation-for="StateId" class="text-danger"></span>
                        </div>
                    </div>
                    <div style="margin: 25px 25px 0 25px;">
                        <div class="form-group">
                            <label asp-for="CityId"></label>
                            <select asp-for="CityId" class="form-control">
                                <option value="@Model.CityId">@Model.CityName</option>
                            </select>
                            <span asp-validation-for="CityId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PostalCode"></label>
                            <input asp-for="PostalCode" class="form-control" />
                            <span asp-validation-for="PostalCode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </form>
                <div class="button-submit-register">
                    <button id="closeRegister" class="btn btn-light">Fechar</button>
                    <button form="register" type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/js/RegisterListItems.js"></script>

