@model Checked.Models.ViewModels.CreatePlanViewModel;

<!--<link rel="stylesheet" href="~/css/actions.css" />-->
<div class="cntr">
    <div class="header">        
        <h4 class="text-info">Ocorrência: @ViewData["Occurrence"]</h4>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" method="post">
                <input type="hidden" asp-for="OccurrenceId" />
                <input type="hidden" asp-for="PlanId" />
                <input type="hidden" asp-for="OrganizatioId" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Subject" class="control-label"></label>
                    <input asp-for="Subject" class="form-control" />
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Goal" class="control-label"></label>
                    <input asp-for="Goal" class="form-control" />
                    <span asp-validation-for="Goal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div style="display:flex;align-items: end;">
                        <div>
                            <label asp-for="AccountableId" class="control-label"></label>
                            <select asp-for="AccountableId" asp-items="Model.ListUser" class="form-control"></select>
                            <span asp-validation-for="AccountableId" class="text-danger"></span>
                        </div>
                        <a style="background-color:green; font-weight:bold" class="btn" asp-action="Create" asp-controller="TP_Ocorrencia">+</a>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Objective" class="control-label"></label>
                    <input asp-for="Objective" class="form-control" />
                    <span asp-validation-for="Objective" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Atualizar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Plans">Voltar</a>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

